<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: html-head"/>
<body>
<div class="content">
    <div th:replace="fragments/header :: header"/>
    <p>Add event:</p>
    <form method="post" action="/event">
        <input name="date" type="datetime-local">
        <select name="sportId">
            <option value="">Choose sport</option>
            <option th:each="sport: ${sportList}" th:value="${sport.id}" th:text="${sport.name}"/>
        </select>
        <input type="submit">
    </form>
</div>
</body>
</html>